<style>

#boardTitle{
    font-size:50px;
}
.writer_wrapper label{
    font-size:30px;
}
.writer_wrapper #content{
    height:400px;
    padding-top:10px;
}
</style>





<div class="writer_wrapper">
    <form action="/tipwrite" method="post">
        
        <div class="row" id="boardTitle">
            TIPS
        </div>
        
        <div class="form-group">
            <label for="exampleInputPassword1">작성자</label>
            <input type="text" class="form-control" id="owner" placeholder="owner" name="owner">
        </div>
        
        <div class="form-group">
            <label for="exampleInputPassword1">제목</label>
            <input type="text" class="form-control" id="title" placeholder="title" name="title">
        </div>
        
        
        <div class="form-group">
            <label for="exampleInputPassword1">내용</label>
            <input type="text" class="form-control" size="5" id="content" placeholder="content" name="content">
        </div>
      
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    
</div>






