<div class ="row" id="nav">
    <div class = "col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-12">
        <div class="row">
           <div class="col-xs-3">
                <div class="row">
                    <div class="col-sm-9 col-xs-12" id="home"><a href="https://beenkhan-binkhan.c9users.io/"><b>홈</b></a></div>
                    <div class="col-sm-3 hidden-xs">|</div>
                </div>
            </div>
            
            <div class="col-xs-3">
                <div class="row">
                    <div class="col-sm-9 col-xs-12" id="event"><a href="https://beenkhan-binkhan.c9users.io/groups/1"><b>이벤트</b></div>
                    <div class="col-sm-3 hidden-xs">|</div>
                </div>
            </div>
            
            <div class="col-xs-3">
                <div class="row">
                    <div class="col-sm-9 col-xs-12" id="event_search"><a  href="https://beenkhan-binkhan.c9users.io/makemeeting"><b>모임찾기</b></a></div>
                    <div class="col-sm-3 hidden-xs">|</div>
                </div>
            </div>
            
            <div class="col-xs-3">
                <div class="row">
                    <div class="col-sm-9 col-xs-12" id="community"><b>커뮤니티</b></div>
                </div>
            </div>
            
     
        </div>
       
    </div>
</div>

