<style>

html{
    min-height:100%;
    margin:0px;
    padding:0px;
    background-color:#2a2a2a;
}

body{
    min-height:100%;
    margin:0px;
    padding:0px;
}

h2{
    color: #cccccc;
    font-style:bold;
}
h5{
    color : #cccccc;
}
.hr{
    margin-top:40px;
    
    border:0;
    width:100%;
    height:1px;
    background-color:#cccccc;
}

#main{
    margin:0px;
    padding:0px;
}

#side_bar{
    height:100%;
}


</style>

<div class ="container-fluid" id ="site" style="background-color:purple;height:100%">
    <div id ="festival_head_bar" style = "background-color:red;"> adsfadsf</div>